.navbar {
    background-color: rgb(43, 43, 43);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(89, 0, 255);
    background: linear-gradient(10deg, rgba(89, 0, 255, 1) 25%, rgba(184, 0, 255, 1) 100%);
}

div.container {
    border-radius: 20px;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.25);
}

code {
    background-color: rgb(8, 8, 8);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.25);
}